@import url(./base.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

 body{
    font-family: "Roboto", sans-serif !important;

 }
.maincontactus{
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
    gap: 10px;

}
.second-section{
    background: #f2f2f2;
}
.headsectioncon h2::after{
    content: "";
    width: 80px;
    height: 3px;
    background-color: #2C6E49;
    display: block;
    margin: 10px auto 0;
    border-radius: 2px;
}
.contact-info, .contact-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid var(--primary-color);

}

.contact-form {
overflow-y: scroll;
max-height: 500px;
}
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #fff;
  }

.contact-info h2, .contact-form h2 {
    margin-top: 0;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.contact-info ul li {
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}
.contact-info ul li:nth-child(1) a strong{
    color: black;
}
.contact-info ul li:nth-child(1) a:hover ,.contact-info ul li:nth-child(1) a:hover strong{
    color: #2C6E49 ;
}
.contact-info ul li:nth-child(4) p strong{
    color: black;
}
.contact-info-con  p{
    width: fit-content;
}
.contact-info-con  p:hover strong,.contact-info-con  p:hover a{
    color: #2C6E49;
    cursor: pointer;
    
}




.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    width: calc(100% - 22px);
    margin-bottom: 10px;
}

.contact-form button {
    background-color: #2c6e49;
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #4caf50;
}
select#subject {
    width:95%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  select#subject:focus {
   
    box-shadow: 0 0 8px rgba(44, 110, 73, 0.3); 
    outline: none;
  }
  
  option {
    color: #333;
    background-color: #fff;
    padding: 12px;
  }
  
  option[value=""][disabled] {
    display: none;
  }
  

@media screen and (max-width:786px) {
    .maincontactus{
        flex-direction: column;
    }
    .second-sech2{
        margin-top: 60px;
    }
}